<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> <h1>Usuários</h1> </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="b1">

    <ion-button class="ion-text-center" fill="outline" expand="block" color="dark" routerLink="/login"> LOGIN</ion-button>

  <ion-button routerLink="/cadastro" expand="block" fill="outline" color="dark">REGISTRO</ion-button>

  </ion-grid>


</ion-content>

